[submodule "testing/backbone/carousel-blocks"]
	path = testing/backbone/carousel-blocks
	url = https://github.com/albertvp/backbone-carousel.git
[submodule "testing/d3trends"]
	path = testing/d3trends
	url = https://github.com/albertvp/d3trends.git
